.head{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background-image: url(https://www.gabar.org/committeesprogramssections/younglawyersdivision/images/fruit_veg_66436_1900x500.jpg);
  color: white;
}
h1{
  margin-top: 0;
}
p{
  margin: 0;
}
.title{
  color: white;
  text-decoration: none;
}
nav{
  background-color: rgba(0,0,0, 0.5);
  padding: 10px;
}
.navbarLinks{
  color: white;
}
.wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
hr{
  margin: 1px;
  border: none;
  height: 1px;
  color: black;
  background-color: black;
}

/* Form styles */
.inputForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formRow{
  margin: 10px;
}

/* Nutrition label/food detail styles */
.labelWrapper{
  border: 3px solid black;
  width: 300px;
  padding: 5px;
}
.labelTitle{
  margin: 5px 0;
  font-weight: 900;
}
.upperLabelRow{
  margin: 0 0 2px 0;
}
.thickLine{
  margin: 1px;
  border: none;
  height: 10px;
  color: black;
  background-color: black;
}
.labelRow{
  display: flex;
  justify-content: space-between;
}
.labelBold{
  display: flex;
}
.labelBoldTitle{
  font-weight: 700;
  margin-right: 3px;
}
.mediumLine{
  margin: 1px;
  border: none;
  height: 5px;
  color: black;
  background-color: black;
}
.percentHeader{
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
.percentValue{
  font-weight: 700;
}